@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap");
body {
   font-family: "Nunito", "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif !important;
   background-color: #e6e2fd;
   color: #2e127e;
   font-size: 125%;
}
a {
   color: #ff4866;
}
a.skipLinks {
   position: absolute;
   top: -100px;
}

.content {
   padding: 1em 2em;
   background-color: #f1faff;
   border-radius: 0 0 20px 20px;
}
.navbar {
   background-color: #2e127e;
}
.nav-link {
   color: #f7f3e2;
}
h1,
h2,
h3 {
   font-family: "Corben";
   font-weight: 400;
}
h1 {
   font-size: 250%;
}
.btn {
   background-color: #ff4866;
   border: none;
   font-weight: 800;
   padding: 2em;
}
.row {
   padding-top: 2em;
}
.emotionTag img {
   max-width: 100px;
}
.singleEntry h1 {
   font-family: "Corben";
   font-size: 400%;
   font-weight: 400;
   color: #ff4866;
}
.dropdown-menu {
   background-color: #ff4866;
   color: #fff;
   width: 100%;
}
.btn:hover {
   background-color: #2e127e;
}
.btn {
   width: 100%;
}
.dropdown-menu button {
   color: #fff;
}
.nav-link:focus {
   color: #70d7ff;
}
.nav-link:hover {
   color: #ff4866;
}
.navbar p {
   font-family: "Corben";
   color: #ff4866;
   font-size: 75%;
   clear: both;
   text-align: center;
   margin-bottom: 0;
   letter-spacing: 1em;
}
.navbar.navbar-expand.justify-content-center {
   flex-direction: column;
}
input,
textarea.form-control,
textarea.form-control:focus,
textarea.form-control::placeholder,
select {
   background-color: #f1faff;
   border-radius: 10px;
   border: 1px dotted #ff4866;
   padding: 0.5em;
   font-size: 100%;
   color: #ff4866;
}
label {
   padding-right: 0.25em;
}
.status h1 {
   text-align: center;
}

.status.container {
   display: flex;
   justify-self: center;
   height: 151px;
}
